@model IEnumerable<AMT_Asset__Mgt_Tool_.Models.Asset>

@{
    ViewBag.Title = "Assets";
}

<h2>Assets</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.ActionLink("Assigned", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Unassigned", "Details", new { id = item.Id }) |
                @Html.ActionLink("Decommission", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Asset</title>
</head>
<body>
    <h2>Assets</h2>
    <p><a href="#">Add New</a></p>

    <table class="table">
        <tr>
            <th>
                Asset Name |
            </th>
            <th>
                Model |
            </th>
            <th>
                Type |
            </th>
            <th>
                Status |
            </th>
            <th>
                Assigned To |
            </th>
            <th>
                Location |
            </th>
            <th>
                Cost |
            </th>
            <th></th>
        </tr>

    </table>
</body>
</html>
-->
